/11/notMNIST.pickle
/11/notMNIST_large.tar.gz
/11/cifar-10-batches-py
/practice2/CNN_practice/dataset.zip
/practice2/CNN_practice/dataset/cat_dog
/09/tensorboard_data/*
/practice2/dataset
/14/YOLOv3_TensorFlow
/17/text8.zip



